{% extends 'base.html' %}

{% block title %}
    About
{% endblock title %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}?v=2">
{% endblock css %}

{% block body %}

  
    <main>
      <h1>About This Converter</h1>
  
      <p>
        This application is designed to help you convert between various units of measurement quickly and accurately. Whether you're working with length, mass, time, or data storage, this tool provides an easy-to-use interface.
      </p>
  
      <h2>Conversion Categories Supported</h2>
      <ul>
        <li>Length / Distance</li>
        <li>Mass / Weight</li>
        <li>Time</li>
        <li>Temperature</li>
        <li>Speed</li>
        <li>Volume</li>
        <li>Area</li>
        <li>Data Storage</li>
        <li>Energy</li>
        <li>Pressure</li>
      </ul>
  
      <h2>Built With</h2>
      <ul>
        <li>Python and Flask</li>
        <li>HTML5 and Jinja Templating</li>
      </ul>
  
      <p>
        This site aims to be simple, efficient, and educational. You are encouraged to expand it or integrate more unit categories as needed.
      </p>
    </main>

  
{% endblock body %}