<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}
    
  {% endblock title %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}?v=2">
  {% block css %}
    
  {% endblock css %}
</head>
<body>
  <header>
    <nav>
      <a href="{{ url_for('Home_page', filename='index.html') }}">Home</a>
      <a href="{{ url_for('About_page', filename='about.html') }}">About</a>    
    </nav>
  </header>
  {% block body %}
    
  {% endblock body %}

  <footer>
    <div class="footer-container">
      <p>&copy; {{ 2025 }} Unit Converter. All rights reserved.</p>
    </div>
  </footer>
  
  
</body>
</html>