{% extends 'base.html' %}
{% block title %} Home {% endblock title %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}?v=2">
{% endblock css %}


{% block body %}

<main>
  <section>
    <div><h2>what you wanna convert today</h2></div>
    
      <div ><a href="{{ url_for('Length_page') }}">Length/Distance</a></div>
        <div><a href="{{ url_for('Mass_page') }}">Mass/Weight</a></div>
          <div><a href="{{ url_for('Time_page') }}">Time</a></div>
            <div><a href="{{ url_for('Temperature_page') }}">Temperature</a></div>
              <div><a href="{{ url_for('Speed_page') }}">Speed</a></div>
                <div><a href="{{ url_for('Volume_page') }}">Volume</a></div>
                  <div><a href="{{ url_for('Area_page') }}">Area</a></div>
                    <div><a href="{{ url_for('Data_page') }}">Data Storage</a></div>
                      <div><a href="{{ url_for('Energy_page') }}">Energy</a></div>
                        <div><a href="{{ url_for('Pressure_page') }}">Pressure</a></div>
    
  </section>
</main>

{% endblock body %}
